
  h1{
    color: rgb(14, 14, 199);
    background-color: #fde000;
    text-align: center;
    font-family:monospace;
    font-size: 50px;
    border-radius: 50px;
    margin-left: 200px;
    margin-right: 200px;
  }

  h2{
    font-family:sans-serif;

  }

  #navegador{
    background-color: #fde000;
    overflow: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction:row;
    justify-content:space-around;   /* Deja espacio entre los elementos */
    border-radius: 50px;

  }

  #navegador a{
    text-decoration: none;
    color: rgb(14, 14, 199);
    float: left;       /* Ordena de izq a derecha */


    padding: 25px ;
    font-size: 20px;
    border-radius: 50px;
    font-family: sans-serif;
  }
  #navegador a:hover{
    background-color: lightpink;
    color: #f2f2f2;
  }
  #navegador a:active{
    background-color: pink;
    color: yellow;
  }

  body{
    background-image: url("../imagenes/Fondo-donuts.jpeg");
  }

  .contenedor {
    background-color: pink;
    color: black;

    width: 75%;       /* Ancho del contenedor */
    margin-top: 1%;
    margin-left: auto;    /* Márgenes automáticos de los lados */
    margin-right: auto;

    border-radius: 50px 0px 50px 0px;
    opacity: 98%;

    display: flex;
    flex-direction: column;
    justify-content: center;  /* eje x*/
    align-items: center;      /* eje y*/
    height: 50%;      /* Altura del contenedor */
  }
  .contenedor h2{
    color: blue;
  }
